@import "bootstrap-sprockets";
@import "bootstrap";

@import "products";
@import "scaffolds";

.navbar-default {
  background-color: #434766;
  a {
    color: white !important;
  }
  .navbar-brand {
    font-size: 24px;
  }
}